body {
    margin: 2px;
    font-family: 'Jost', sans-serif;
}

#geral {
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
        "topo topo topo"
        "menulateraldireito menulateralcentral menulateralesquerdo"
        "menuinferior menuinferior menuinferior"
        "rodape rodape rodape";
    grid-template-rows: 100px minmax(200px, auto) minmax(100px, auto) 20px;
    grid-template-columns: 1fr 2fr 20%;
}

#topo {
    grid-area: topo;
    background-image: url("./assets/uesc.jpg");
    background-size: cover;
    background-position: center;
    color: rgb(201, 224, 208);
    background-color: #0766AD;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}


#menulateraldireito {
    margin-top: 5px;
    grid-area: menulateraldireito;
    background-color: #94A684;
    row-gap: 5px;
}

#menulateralcentral {
    margin-top: 5px;
    grid-area: menulateralcentral;
    text-align: justify;
    background-color: #AEC3AE;
}

#menulateralesquerdo {
    margin-top: 5px;
    grid-area: menulateralesquerdo;
    background-color: #E4E4D0;
    align-items: center;
}
#ime1, #ime2{
    text-align: center;
    width: 100px;
    height: 100px;
    border: 1px solid #94A684;
    margin: 5px;
}

#menuinferior {
    display: grid;
    grid-gap: 5px;
    grid-area: menuinferior;
    grid-template-columns: 1fr 400px; 
    color: rgb(11, 26, 1);
   
}
#servicos{
    background-color: #C4D7B2;
    padding: 5px;
}
#resultados{
    background-color: #E1ECC8;
    padding: 5px;
}
#rodape{
    grid-area: rodape;
    background-color: #F7FFE5;
    font-size: 10px;
    text-align: center;

}
ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}
