body {
    background-color: #F3FDE8;
    text-align: center;
    font-family: Arial, sans-serif; /* Escolha uma fonte legível */
    padding: 20px;
}

.title {
    color: #333; /* Cor do título */
}

.listas {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    justify-content: center; /* Centraliza os itens */
    gap: 20px; /* Espaçamento entre os itens */
}

.listas > div {
    width: 200px; /* Largura fixa dos itens */
    background-color: #fff; /* Cor de fundo dos itens */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.listas a {
    text-decoration: none; /* Remove sublinhado padrão */
    color: #007bff; /* Cor dos links */
}

.listas a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}
