body {
    background-color: #F3FDE8;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    padding: 20px;
}

.title {
    color: #4a4a4a; /* Cor do título */
}

.listas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; /* Espaçamento entre os itens */
}

.listas > div {
    width: 200px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px; /* Padding maior */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.listas a {
    text-decoration: none;
    color: #007bff;
}

.listas a:hover {
    text-decoration: underline;
    color: #0056b3; /* Cor mais escura ao passar o mouse */
}
