.page-container {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-data-found {
    padding: 10px;
    text-align: center;
    color: #777;
}

.button-container {
    margin-bottom: 20px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-field {
    flex: 1 1 10px;
}

.small-placeholder::placeholder {
    font-size: 12px;
}

.mat-column-actions th {
    text-align: center;
}