.container{   
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 50px 30px 0px 20px;
    color: black;

}

h2{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #ff9770;
    border-radius: 10px;
    
}

li{
    display: flex;
    justify-content: center;
    max-width: 100px; 
    border: 0;
    list-style-type:none;
    margin-top: 30px ;
    padding: 10px 10px;
    border-radius: 5px;
    color: black;
    background-color:#ffd670;
}