<!-- menu-central.component.html -->
<div id="menu-central">
    <div id="menulateraldireito">
      <ul>
        <li><a routerLink="/centroPesquisa">Centro de Pesquisa</a></li>
        <li><a routerLink="/internacional">Internacional</a></li>
        <li><a routerLink="/laboratorios">Laboratórios</a></li>
        <li><a routerLink="/mapa">Mapa da UESC</a></li>
        <li><a routerLink="/nucleos">Núcleos</a></li>
        <li><a routerLink="/projetos">Projetos</a></li>
        <li><a routerLink="/proRetoria">Pró-Reitoria de Administração</a></li>
      </ul>
    </div>
    <div id="menulateralcentral">
      <h2>Notícias</h2>
      <ul>
        <li>
          <h3>{{ joke.setup }}</h3>
          <p>{{ joke.delivery }}</p>
        </li>
      </ul>
    </div>
    <div id="menulateralesquerdo">
      <ul><h2>Destaque</h2></ul>
      <ul>
        <li><div id="ime1"><p>ime 1</p></div></li>
        <li><div id="ime2"><p>ime 2</p></div></li>
      </ul>
    </div>
  </div>
  