<div class="container">
    <form [formGroup]="atendimentoForm" (ngSubmit)="salvarAtendimento()">
      <mat-form-field id="nomeAnimal" appearance="fill">
        <mat-label>Nome do Animal</mat-label>
        <input matInput formControlName="nomeAnimal">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Data de Entrada</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dataEntrada">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field><br>
  
      <mat-form-field appearance="fill">
        <mat-label>Hora de Entrada</mat-label>
        <input matInput type="time" formControlName="horaEntrada">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Hora de Previsão de Saída</mat-label>
        <input matInput type="time" formControlName="horaPrevisaoSaida">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Valor</mat-label>
        <input matInput type="number" step="0.01" formControlName="preco">
      </mat-form-field><br>
  
      <mat-form-field appearance="fill">
        <mat-label>Telefone do Tutor</mat-label>
        <input matInput formControlName="telefoneTutor">
      </mat-form-field>
  
      <mat-form-field id="nomeTutor" appearance="fill">
        <mat-label>Nome do Tutor</mat-label>
        <input matInput formControlName="nomeTutor">
      </mat-form-field><br>
  
      <button mat-raised-button id="salvar" color="primary" type="submit">Salvar</button>
      <span *ngIf="editadoSucesso">Formulário Editado com sucesso!</span>
    </form>
  </div>
  